In [3]:
from pathlib import Path
import pandas as pd

In [31]:
def normalizeDataset(path):
    #schema mediato finale di schema alignment
    df = pd.read_csv(path, sep=';')

    for column in df.columns:
        df[column] = df[column].astype(str).str.upper()
    return df[df.columns[1:]]

In [80]:
df_integration = pd.read_csv('output_integration/final_plt.csv')

C:\Users\feder\AppData\Local\Temp\ipykernel_13248\2953386855.py:1: DtypeWarning: Columns (10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_integration = pd.read_csv('output_integration/final_plt.csv')

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,INNOVATIVE SOLUTIONS AND SUPPORT,NaN,$0.15 B,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,$8.78,NaN,NaN,NaN,NaN
1,GRAFTON GROUP,NaN,$1.78 B,NaN,IRELAND,NaN,NaN,NaN,NaN,NaN,NaN,$7.35,NaN,NaN,NaN,NaN
2,HEWLETT-PACKARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MCDONALDÂS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COLGATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72297,INSTACART,"SUPPLY CHAIN, LOGISTICS, & DELIVERY","1,863","15,059",UNITED STATES,USA,11751 MISSISSIPPI AVE,NaN,NOT FOUND,2012,NaN,NaN,https://www.instacart.com/,Series I,NaN,Not found
72298,DATABRICKS,DATA MANAGEMENT & ANALYTICS,"2,358","4,101",UNITED STATES,USA,NaN,NaN,NOT FOUND,2013,NaN,NaN,https://databricks.com/,Corporate Minority,NaN,Not found
72299,STRIPE,FINTECH,427,"7,802",UNITED STATES,USA,NaN,NaN,NOT FOUND,2010,NaN,NaN,https://stripe.com/,Corporate Minority - II,NaN,Not found
72300,BLOOMBERG LP,"MEDIA, INTERNET OR MOBILE APP BASED BUSINESS,...",554,"24,315",USA,USA,731 LEXINGTON AVE,NaN,NaN,Not found,NaN,NaN,https://www.bloomberg.com/,NaN,NaN,"10,000 Million USD"
72301,KAZATOMPROM,METALS AND MINING,$8.93 B,"21,000",NONE,KAZAKHSTAN,"RAYON YESIL', UL. YE-10, 17/12, ASTANA, 010000",NaN,NaN,NaN,NaN,$32.09,www.kazatomprom.kz,NaN,NaN,$1.6B

In [83]:
directory = 'datasets_for_augmentation'
dataset_list = Path(directory).glob('*.csv')

matches = {'500Companies.csv': [('0', 'stock'), ('3', 'sector'),('4', 'address')],
            '400Companies.csv': [('0', 'stock'), ('2', 'sector')],
            'AirlineCodes.csv': [('2', 'country')]
         }

i=0
num_error = 0
for path in dataset_list:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = normalizeDataset(path)
    name_dataset = str(path).split('\\')[1]
    try:
      for index, row in df_integration.iterrows():
         for index2, row2 in df2.iterrows():
            if len(row['name']) > 3:
               if row['name'] in row2['1']:
                  for col_df2, col_integration in matches[name_dataset]:
                     if df_integration[df_integration.index == index][col_integration].isnull().values.any():
                        row.at[col_integration] = row2[col_df2]
    except Exception as e:
      print(e)
      print("ERRORE " + str(path))
      num_error = num_error + 1

df_integration

0 datasets_for_augmentation\400Companies.csv