# Creazione Dataset con coppie di record che sono in match

In [ ]:
import csv
import time

start = time.time()

df_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])
for k in dict_matches_global.keys():
    for v in dict_matches_global[k]:
        df_match.loc[len(df_match.index)] = ([1, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
end = time.time()
print("The time of execution of above program is :", (end-start) * 10**3, "ms")

In [ ]:
df_match.to_csv('output_match/df_match.csv')

# Creazione Dataset con coppie di record che NON sono in match

In [ ]:
candidate_links

In [ ]:
lista_indici_nomi_null = df[df.name.isnull() == True].index
df = df.drop(lista_indici_nomi_null)
display(df)

In [ ]:
stop = 0
df_no_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for k,v in zip(df.index, df.index):
    try:
        k = k + 1
        if (k, v) not in candidate_links:
            df_no_match.loc[len(df_no_match.index)] = ([0, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
            # print("i: " + str(k) + ", j: " + str(v))
        if stop >= 60000:
            break
        stop = stop + 1
    except:
        break

In [ ]:
display(df_no_match.left_name, df_no_match.right_name)

In [ ]:
df_no_match.to_csv('output_match/df_no_match.csv')

# Dataset Unlabeled

In [ ]:
df_unlabel = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for i,j in multi_index:
    df_unlabel.loc[len(df_unlabel.index)] = ([0, i, df[df.index == i]['name'].values[0] , df[df.index == i]['industry'].values[0], df[df.index == i]['market_cap'].values[0], df[df.index == i]['employees'].values[0], df[df.index == i]['country'].values[0], df[df.index == i]['headquarters'].values[0], df[df.index == i]['address'].values[0], df[df.index == i]['sector'].values[0], df[df.index == i]['ceo'].values[0], df[df.index == i]['founded'].values[0], df[df.index == i]['founders'].values[0], df[df.index == i]['share_price'].values[0], df[df.index == i]['website'].values[0], df[df.index == i]['stock'].values[0], df[df.index == i]['area_served'].values[0], df[df.index == i]['revenue'].values[0], j, df[df.index == j]['name'].values[0], df[df.index == j]['industry'].values[0], df[df.index == j]['market_cap'].values[0], df[df.index == j]['employees'].values[0], df[df.index == j]['country'].values[0], df[df.index == j]['headquarters'].values[0], df[df.index == j]['address'].values[0], df[df.index == j]['sector'].values[0], df[df.index == j]['ceo'].values[0], df[df.index == j]['founded'].values[0], df[df.index == j]['founders'].values[0], df[df.index == j]['share_price'].values[0], df[df.index == j]['website'].values[0], df[df.index == j]['stock'].values[0], df[df.index == j]['area_served'].values[0], df[df.index == j]['revenue'].values[0]])

In [ ]:
#rimuovi colonna label
# df_unlabel = df_unlabel.drop(['label'], axis = 1)

# Ottieni la lista delle colonne
cols = df_unlabel.columns.tolist()

# Sposta la 19esima colonna (colonna 'col19') alla terza posizione
cols.insert(1, cols.pop(cols.index('right_id')))

# Riordina il DataFrame utilizzando la nuova lista di colonne
df_unlabel = df_unlabel.reindex(columns=cols)

In [ ]:
# Crea un nuovo attributo "id" come indice numerico progressivo
df_unlabel['_id'] = range(1, len(df_unlabel) + 1)
df_unlabel = df_unlabel.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_unlabel.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_unlabel = df_unlabel[cols]

In [ ]:
df_unlabel.to_csv('output_match/df_unlabel.csv')

# Unione di df_match e df_no_match e suddivisione in train, test, validation per Deepmatcher

In [ ]:
df_match = pd.read_csv('output_match/df_match.csv')
df_no_match = pd.read_csv('output_match/df_no_match.csv')
df_match = df_match.sample(len(df_no_match))

df_match = df_match.drop(['Unnamed: 0'], axis = 1)
df_no_match = df_no_match.drop(['Unnamed: 0'], axis = 1)

C:\Users\andre\AppData\Local\Temp\ipykernel_19332\1655444761.py:1: DtypeWarning: Columns (6,8,9,11,12,14,16,25,26,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_match = pd.read_csv('output_match/df_match.csv')
C:\Users\andre\AppData\Local\Temp\ipykernel_19332\1655444761.py:2: DtypeWarning: Columns (4,6,8,10,11,12,16,21,23,25,27,28,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_no_match = pd.read_csv('output_match/df_no_match.csv')

In [ ]:
df_union = pd.concat([df_match, df_no_match], ignore_index=True)
# display(df_union)

In [ ]:
df_train = df_union.sample(7000)
df_test = df_union.sample(2300)
df_validation = df_union.sample(2300)

# Crea un nuovo attributo "id" come indice numerico progressivo per TRAIN SET
df_train['id'] = range(1, len(df_train) + 1)
df_train = df_train.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_train.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_train = df_train[cols]

# Crea un nuovo attributo "id" come indice numerico progressivo per TEST SET
df_test['id'] = range(1, len(df_test) + 1)
df_test = df_test.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_test.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_test = df_test[cols]

# Crea un nuovo attributo "id" come indice numerico progressivo per VALIDATION SET
df_validation['id'] = range(1, len(df_validation) + 1)
df_validation = df_validation.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_validation.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_validation = df_validation[cols]


display(df_train)
display(df_test)
display(df_validation)

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,2907,Riley Permian,NaN,$0.69 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$9.27,NaN,NaN,NaN,NaN
1,2,1,10060,Bid Corp,NaN,$6.47 B,NaN,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,69100,NtechLab,NaN,NaN,44,Cyprus,NaN,NaN,...,NaN,Technology,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,15344,Boston Scientific Corporation,Medical Devices,$63.08 B,NaN,United States,NaN,NaN,...,NaN,Industrials,NaN,NaN,NaN,NaN,NaN,FDX,NaN,NaN
4,5,1,4854,System1,NaN,$0.54 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$4.90,NaN,SST,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,0,15844,FUJIFILM Holdings Corp,Business Equipment & Supplies,$24.12 B,NaN,Japan,NaN,NaN,...,NaN,Healthcare,NaN,NaN,NaN,NaN,NaN,FRE,NaN,NaN
6996,6997,0,22129,ENEOS Holdings,NaN,$9.95 B,NaN,Japan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$178.56,NaN,NaN,NaN,NaN
6997,6998,1,6490,Xerox,NaN,$2.64 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$17.01,NaN,NaN,NaN,NaN
6998,6999,0,9607,Synnex,NaN,$9.53 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$84.40,NaN,HLE.F,NaN,NaN
6999,7000,1,5791,Perimeter Solutions,NaN,$1.44 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,20874,Acerinox,NaN,$2.56 B,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$11.93,NaN,NaN,NaN,NaN
1,2,1,148206,XENIA HOTELS & RESORTS,"Real Estate, Hotels, Consumer Services, Resor...",NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,19247,Greenlam Industries,NaN,$0.50 B,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$12.51,NaN,NaN,NaN,NaN
3,4,1,4450,Telos,NaN,$0.32 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$5.12,NaN,NaN,NaN,NaN
4,5,0,7511,Schweppes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2296,0,1671,Sun Hung Kai Properties,NaN,$34.86 B,NaN,Hong Kong,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$55.56,NaN,NaN,NaN,NaN
2296,2297,0,15304,Wal-Mart de Mexico SAB de CV,Discount Stores,$71.96 B,NaN,Mexico,NaN,NaN,...,NaN,Basic Materials,NaN,NaN,NaN,NaN,NaN,FCX,NaN,NaN
2297,2298,1,2061,Straumann,NaN,$18.80 B,NaN,Switzerland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$128.67,NaN,NaN,NaN,NaN
2298,2299,1,11217,TUI,NaN,$2.96 B,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$2.36,NaN,NaN,NaN,NaN
2299,2300,0,18684,RGC Resources,NaN,$0.21 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$5.56,NaN,NaN,NaN,NaN

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,9220,Almarai,NaN,$14.04 B,NaN,S. Arabia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$0.13,NaN,ENELAM.SN,NaN,NaN
1,2,1,9811,Nissin Foods,NaN,$7.85 B,NaN,Japan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$77.65,NaN,NaN,NaN,NaN
2,3,1,148916,NTG NORDIC TRANSPORT GROUP A/S,"Industries, Logistics",NaN,NaN,Denmark,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,3383,Direct Digital Holdings,NaN,$13.59 M,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$3.63,NaN,NaN,NaN,NaN
4,5,0,23971,Baoshan Iron & Steel Co. Ltd,NaN,CN¥150.07 Billion,"47,710",NaN,Shanghai,NaN,...,NaN,NaN,Mr. James M. Loree,1843,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2296,1,69445,Scherer,NaN,NaN,4,Germany,NaN,NaN,...,NaN,Support Services,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN
2296,2297,1,9627,Zalando,NaN,$9.31 B,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2297,2298,0,19567,Repay Holdings,NaN,$0.74 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$18.46,NaN,NaN,NaN,NaN
2298,2299,1,15655,"Cellnex Telecom, SA",Telecom Services,$32.32 B,NaN,Spain,NaN,NaN,...,NaN,Communication Services,Mr. Tobias Martinez Gimeno,NaN,NaN,NaN,NaN,CLNX,NaN,NaN
2299,2300,1,144891,OWL ROCK CAPITAL CORPORATION,"Financial Services, Provides Loans",NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN