In [2]:
%pip install recordlinkage

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: jellyfish is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ---------------------------------------- 0.0/926.5 kB ? eta -:--:--
     --- ----------------------------------- 81.9/926.5 kB 2.2 MB/s eta 0:00:01
     ------- ------------------------------ 194.6/926.5 kB 2.3 MB/s eta 0:00:01
     ------------ ------------------------- 307.2/926.5 kB 2.1 MB/s eta 0:00:01
     ---------------- --------------------- 409.6/926.5 kB 2.3 MB/s eta 0:00:01
     --------------------- ---------------- 522.2/926.5 kB 2.2 MB/s eta 0:00:01
     ------------------------- ------------ 624.6/926.5 kB 2.2 MB/s eta 0:00:01
     ----------------------------- -------- 727.0/926.5 kB 2.3 MB/s eta 0:00:01
     ---------------------------------- --- 829.4/926.5 kB 2.3 MB/s eta 0:00:01
     -------------------------------------  921.6/926.5 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 926.5/926.5 kB 2.1 MB/s eta 0:00:00
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     ---------------------------------------- 0.0/132.6 kB ? eta -:--:--
     -------------------------------- ----- 112.6/132.6 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 132.6/132.6 kB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.13.0 in c:\python311\lib\site-packages (from recordlinkage) (1.24.2)
Collecting pandas<2,>=1
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Collecting scipy>=1
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting scikit-learn>=0.19.0
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 0.0/8.2 MB ? eta -:--:--
     ---------------------------------------- 0.1/8.2 MB 1.1 MB/s eta 0:00:08
      --------------------------------------- 0.2/8.2 MB 2.4 MB/s eta 0:00:04
     - -------------------------------------- 0.3/8.2 MB 2.2 MB/s eta 0:00:04
     - -------------------------------------- 0.4/8.2 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/8.2 MB 2.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/8.2 MB 2.3 MB/s eta 0:00:04
     --- ------------------------------------ 0.7/8.2 MB 2.2 MB/s eta 0:00:04
     --- ------------------------------------ 0.8/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 0.9/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 1.0/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.1/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.2/8.2 MB 2.2 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.3 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.2 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.7/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.0/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.3/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.5/8.2 MB 2.2 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 2.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.1/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.5/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.8/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.3/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.7/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.1/8.2 MB 2.3 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.5/8.2 MB 2.3 MB/s eta 0:00:02
     --------------------------- ------------ 5.6/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------------- ------------ 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------------- ----------- 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.0/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.1/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------ --------- 6.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.2 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.2 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.2 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 6.9/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.2/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 7.6/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 8.2/8.2 MB 2.2 MB/s eta 0:00:00
Collecting joblib
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, jellyfish, scikit-learn, pandas, recordlinkage
  Running setup.py install for jellyfish: started
  Running setup.py install for jellyfish: finished with status 'done'
Successfully installed jellyfish-0.9.0 joblib-1.2.0 pandas-1.5.3 recordlinkage-0.15 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0

In [69]:
import recordlinkage
import pandas as pd

In [70]:
df = pd.read_json('schema_mediato_auto(1).json')
print(len(df))
half_size = int(len(df)/2)
print(len(df))
df_a = df.iloc[:half_size,:]
df_b = df.iloc[half_size:,:]

display(df_a)
display(df_b)

2000
2000

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,"Avis Budget Group, Inc.",Rental & Leasing Services,$18.12 B,"16,000",United States,"Parsippany,NJ,UnitedStates",None,Industrials,Mr. Joseph A. Ferraro,2006,NaN,NaN,None,CAR,NaN,None
1,Telefônica Brasil SA,Telecom Services,$20.19 B,"34,000",Brazil,"SÃ£oPaulo,SP,Brazil",None,Communication Services,Mr. Christian Mauad Gebara,1998,NaN,NaN,None,VIV,NaN,None
2,East Japan Railway Company,Railroads,$22.78 B,"71,973",Japan,"Tokyo,Japan",None,Industrials,Mr. Yuji Fukasawa,,NaN,NaN,None,9020,NaN,None
3,Twilio Inc.,Internet Content & Information,$26.09 B,"7,867",United States,"SanFrancisco,CA,UnitedStates",None,Communication Services,Mr. Jeffrey Lawson,2008,NaN,NaN,None,TWLO,NaN,None
4,"Delta Electronics, Inc.",Electronic Components,$24.05 B,,Taiwan,"Taipei,Taiwan",None,Technology,Mr. Ping Cheng,,NaN,NaN,None,2308,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,VODAFONE GROUP,None,43005000000,105000,None,UK,None,None,Nick Read,None,NaN,NaN,None,None,NaN,53685000000
996,SPOTIFY TECHNOLOGY,None,42828000000,6617,None,Sweden,None,None,Daniel Ek,None,NaN,NaN,None,None,NaN,10654000000
997,EXPERIAN,None,42818000000,17800,None,Ireland,None,None,Brian Cassin,None,NaN,NaN,None,None,NaN,6288000000
998,MOTOROLA SOLUTIONS,None,42655000000,18700,None,USA,None,None,Greg Brown,None,NaN,NaN,None,None,NaN,8171000000
999,REPUBLIC SERVICES,None,42418000000,35000,None,USA,None,None,Jon Vander Ark,None,NaN,NaN,None,None,NaN,11295000000

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1000,APPLE,None,"2,510.000 Billion USD",None,USA,None,None,None,Tim Cook,None,NaN,NaN,None,None,NaN,None
1001,MICROSOFT CORPORATION,None,"2,269.000 Billion USD",None,USA,None,None,None,None,None,NaN,NaN,None,None,NaN,None
1002,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),None,"1,891.600 Billion USD",None,Saudi Arabia,None,None,None,H.E. Yasir Othman Al-Rumayyan,None,NaN,NaN,None,None,NaN,None
1003,ALPHABET,None,"1,934.000 Billion USD",None,USA,None,None,None,John L. Hennessy,None,NaN,NaN,None,None,NaN,None
1004,AMAZON.COM,None,"1,758.000 Billion USD",None,USA,None,None,None,Andy Jassy,None,NaN,NaN,None,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,CKD Corp,Industrial Goods and Machinery,$1.0B,"4,660",None,Japan,"2-250, Oji, Komaki-Shi, Aichi, 485-8551",None,None,None,NaN,NaN,www.ckd.co.jp,None,NaN,$1.3B
1996,Corbion NV,Chemicals,$2.4B,"2,517",None,Netherlands,"Piet Heinkade 127, Amsterdam, 1019GM",None,None,None,NaN,NaN,www.corbion.com,None,NaN,$1.3B
1997,Webster Financial Corp,Financial Services,$7.9B,"3,245",None,United States of America,"200 Elm Street, Stamford, Connecticut, 06902",None,None,None,NaN,NaN,public.websteronline.com,None,NaN,$1.3B
1998,Equity Lifestyle Properties Inc,Construction,$12.5B,"4,100",None,United States of America,"Ste 800, Two N Riverside Plz, Chicago, Illinoi...",None,None,None,NaN,NaN,www.equitylifestyleproperties.com,None,NaN,$1.3B
1999,Titan Wind Energy (Suzhou) Co Ltd,Alternative Energy,$4.3B,"1,671",None,China,"No. 28 Yangjiang Road, Economic Development Zo...",None,None,None,NaN,NaN,www.titanwind.com.cn,None,NaN,$1.3B

In [71]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

print(candidate_links)

MultiIndex([(194, 1269),
            (769, 1269),
            (392, 1349),
            (849, 1349),
            (500, 1000),
            (501, 1001),
            (502, 1002),
            (503, 1003),
            (504, 1004),
            (505, 1005),
            ...
            (990, 1490),
            (991, 1491),
            (992, 1492),
            (993, 1493),
            (994, 1494),
            (995, 1495),
            (996, 1496),
            (997, 1497),
            (998, 1498),
            (999, 1499)],
           length=502)

In [72]:
prova1 = df.iloc[194,:]
prova2 = df.iloc[1269,:]
display(prova1)
display(prova2)

name                                BASF SE
industry                          Chemicals
market_cap                         $52.76 B
employees                           108,718
country                             Germany
headquarters    LudwigshafenamRhein,Germany
address                                None
sector                      Basic Materials
ceo                Dr. Martin  Brudermuller
founded
founders                                NaN
share_price                             NaN
website                                None
stock                                   BAS
area_served                             NaN
revenue                                None
Name: 194, dtype: object

name                       BASF SE
industry                      None
market_cap      70.978 Billion USD
employees                     None
country                    Germany
headquarters                  None
address                       None
sector                        None
ceo                           None
founded                       None
founders                       NaN
share_price                    NaN
website                       None
stock                         None
area_served                    NaN
revenue                       None
Name: 1269, dtype: object

In [89]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=0.5)
# compare.string('industry', 'industry', method='jarowinkler', threshold=0.85)
compare.string('country', 'country', method='jarowinkler', threshold=0.5)
compare.string('headquarters', 'country', method='jarowinkler', threshold=0.5)
# compare.string('country', 'headquarters', method='jarowinkler', threshold=0.5)
# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.5)


# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.85)
# compare.string('ceo', 'ceo', method='jarowinkler', threshold=0.85)
# compare.string('sector', 'sector', method='jarowinkler', threshold=0.85)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_a, df_b)
print(compare_vectors)
type(compare_vectors)

            0    1    2
194 1269  1.0  1.0  0.0
769 1269  1.0  0.0  1.0
392 1349  1.0  1.0  0.0
849 1349  1.0  0.0  1.0
500 1000  1.0  0.0  1.0
...       ...  ...  ...
995 1495  1.0  0.0  1.0
996 1496  1.0  0.0  1.0
997 1497  1.0  0.0  1.0
998 1498  1.0  0.0  1.0
999 1499  1.0  0.0  1.0

[502 rows x 3 columns]

pandas.core.frame.DataFrame

In [87]:
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

In [88]:
list(matches)[:5]

[]

In [77]:
prova1 = df.iloc[769,:]
prova2 = df.iloc[1269,:]
display(prova1)
display(prova2)

name                BASF SE
industry               None
market_cap      68991000000
employees            110302
country                None
headquarters        Germany
address                None
sector                 None
ceo
founded                None
founders                NaN
share_price             NaN
website                None
stock                  None
area_served             NaN
revenue         86615000000
Name: 769, dtype: object

name                       BASF SE
industry                      None
market_cap      70.978 Billion USD
employees                     None
country                    Germany
headquarters                  None
address                       None
sector                        None
ceo                           None
founded                       None
founders                       NaN
share_price                    NaN
website                       None
stock                         None
area_served                    NaN
revenue                       None
Name: 1269, dtype: object