# CONTROLLO MATCHING

In [2]:
import os
import pandas as pd
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma, DistributionBased, Cupid
import pprint
import numpy as np

def list2string(x):
    result = ''
    if(isinstance(x, list)):
        for element in x:
            result = result + ', ' + str(element)
        return result[1:]
    else:
        return x

# Load data using pandas
df1 = pd.read_json("schema_mediato_confronto.json")
# df2 = pd.read_json("datasets/output_globaldata.json")
df2 = pd.read_json("datasets/valueToday_dataset.jsonl", lines=True)
# df2 = df2.apply(np.vectorize(list2string))
df2 = df2.applymap(list2string)
display(df2)
# Instantiate matcher and run
# Coma requires java to be installed on your machine
# If java is not an option, all the other algorithms are in Python (e.g., Cupid)
# matcher = Coma(strategy="COMA_OPT")
matcher = DistributionBased(0.9, 0.9)
matches = valentine_match(df1, df2, matcher)
# print(type(matches))
# print(matches)
pp = pprint.PrettyPrinter(indent=4)

,id,name,world_rank,annual_revenue_in_usd,annual_net_income_in_usd,annual_results_for_year_ending,total_assets_in_usd,total_liabilities_in_usd,total_equity_in_usd,headquarters_region_city,headquarters_country,headquarters_sub_region,headquarters_continent,company_business,number_of_employees,ceo,founders,company_website
0,b9a098214d1a4ce1acc834cf17aef660,Apple,1,"394,330 Million USD","99,803 Million USD",Sep-2022,"352,760 Million USD","302,080 Million USD","50,672 Million USD",California,USA,Northern America,Americas,"Technology, Mobiles & Accessories, Electronic...","154,000",Tim Cook,"Steve Jobs, Steve Wozniak, Ronald Wayne",https://www.apple.com/
1,42f1b7d5a40343de9837fc75d74767c3,Taiwan Semiconductor Manufacturing Company (tsmc),10,"55,306 Million USD","20,783 Million USD",Dec-2021,"129,800 Million USD","54,253 Million USD","75,543 Million USD",Hsinchu,Taiwan,South East Asia,Asia,"Technology, Semiconductors, Electronics, Tech...","65,152",C. C. Wei,Morris Chang,https://www.tsmc.com/
2,85fa8c7dfbb447d898002cb3cfb2fffd,Nvidia Corporation,9,"26,914 Million USD","9,752 Million USD",For Year Ending JAN-2022,"44,187 Million USD","17,575 Million USD","26,612 Million USD",California,USA,Northern America,Americas,"Technology, Semiconductors, Electronics, Tech...","18,975",Jensen Huang,"Jensen Huang, Chris Malachowsky, Curtis Priem",http://www.nvidia.com/
3,6b52bb9b50924235b1003c74bb8db227,Berkshire Hathaway,8,"354,640 Million USD","89,795 Million USD",For Year ending Dec-2021,"956,780 Million USD","443,850 Million USD","514,930 Million USD",Nebraska,USA,Northern America,Americas,"Financial Services, Investments, Insurance","372,000",Warren Buffett,Oliver Chace,https://www.berkshirehathaway.com/
4,d10c3bd4fe924f138454b6f0583de7a1,Meta Platforms,7,"117,930 Million USD","39,370 Million USD",Dec-2021,"165,990 Million USD","41,108 Million USD","124,880 Million USD",California,USA,Northern America,Americas,"Communication Services, Internet or Mobile Ap...","77,805",Mark Zuckerberg,"Mark Zuckerberg, Andrew McCollum, Eduardo Sav...",https://www.facebook.com/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,b08a3d47642d44e7a10f8582a14cf9f9,Nilfisk Holding A/s,"9,992",994 Million USD,51 Million USD,For Year Ending Dec-2021,841 Million USD,633 Million USD,207 Million USD,NaN,Denmark,Northern Europe,Europe,"Industries, Industry Machinery",NaN,NaN,NaN,https://www.nilfisk.com/
10678,6622d097ddd74d8c8c1be4cec195dfb6,Taikisha,"9,991","1,527 Million USD",53 Million USD,For Year Ending Mar-2022,"1,665 Million USD",711 Million USD,954 Million USD,NaN,Japan,Eastern Asia,Asia,"Industries, Electronics, Paints and Coatings,...","5,042",NaN,NaN,https://www.taikisha-group.com/
10679,42e3f369762b44d7977fda3584145175,Parque Arauco,"9,990",189 Million USD,26 Million USD,For Year Ending Dec-2021,"3,084 Million USD","1,651 Million USD","1,433 Million USD",NaN,Chile,South America,Americas,Real Estate,NaN,NaN,NaN,https://www.parauco.com/
10680,dda34d322ea9415aa399a26e207e6a64,Talos Energy,"9,999","1,244 Million USD",-182 Million USD,Year ending Dec-2021,"2,766 Million USD","2,006 Million USD",760 Million USD,Texas,USA,Northern America,Americas,"Energy, Oil and Gas",443,NaN,NaN,https://www.talosenergy.com
10681,3b5fbfbbdad84d3eb761851048e20223,"Ck Life Sciences Int'l., (holdings) Inc.","10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hong Kong,Eastern Asia,Asia,"Healthcare, Biotechnology",NaN,NaN,NaN,https://www.ck-lifesciences.com/

In [3]:
pp.pprint(matches)

{   (('table_1', 'area_served'), ('table_2', 'headquarters_continent')): 0.8377128325544686,
    (('table_1', 'country'), ('table_2', 'headquarters_country')): 0.9140374748225047,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.9202530733154605,
    (('table_1', 'employees'), ('table_2', 'world_rank')): 0.9251787351957952,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_region_city')): 0.9587807736553855,
    (('table_1', 'name'), ('table_2', 'name')): 0.8849405766453459,
    (('table_1', 'website'), ('table_2', 'company_website')): 0.9191089812758296}

# CREAZIONE SCHEMA MEDIATO

In [6]:
import os
import pandas as pd
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma, DistributionBased
import pprint

In [7]:
# ---------------------------------------------------------
# CREATA PER INIZIALIZZARE UN DATASET FITTIZIO MA ORA NON
# SI UTILIZZA IL DATASET FITTIZIO DA NOI CREATO MANUALMENTE
# ---------------------------------------------------------
def creation_dataset_confronto(df1):
  # Load data using pandas
  df2 = pd.read_json("datasets/output_disfold.json")

  matcher_coma = Coma(strategy="COMA_OPT")
  matches_coma = valentine_match(df1, df2, matcher_coma)

  attributi_mediato = []
  attributi_dataset = []
  for i in matches_coma:
    if matches_coma[i] > 0.5:
      attributi_mediato.append(i[0][1])
      attributi_dataset.append(i[1][1])

  for i in df2.index:
      data = {}
      # print(i)
      for d,m in zip(attributi_dataset,attributi_mediato):
        # print(df2[d][i])
        data[m] = df2[d][i]
      temp_data=pd.DataFrame([data])
      df1=pd.concat([df1, temp_data], ignore_index=True)

  return df1

In [8]:
def creation_df_log_matcher(df_logmachers, matches, i, type, name_dataset):
  record = {}
  record['tab1'] = i[0][0]
  record['attr1'] = i[0][1]
  record['tab2'] = name_dataset
  record['attr2'] = i[1][1]
  record['prob'] = matches[i]
  if type == 'coma':
    record['matcher'] = 'Coma'
  else:
    record['matcher'] = 'DistributionBased'
  temp_record=pd.DataFrame([record])
  # df_logmachers=df_logmachers.append(record, ignore_index=True)
  df_logmachers=pd.concat([df_logmachers, temp_record], ignore_index=True)
  return df_logmachers

In [16]:
def creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset):

  # Instantiate matcher and run
  # Coma requires java to be installed on your machine
  # If java is not an option, all the other algorithms are in Python (e.g., Cupid)
  matcher_coma = Coma(strategy="COMA_OPT")
  matches_coma = valentine_match(df1, df2, matcher_coma)

  distr_run = False

 
  attributi_mediato = []
  attributi_dataset = []
  for i in matches_coma:
    df_logmachers = creation_df_log_matcher(df_logmachers, matches_coma, i, 'coma', name_dataset)
    if matches_coma[i] > 0.5:
      attributi_mediato.append(i[0][1])
      attributi_dataset.append(i[1][1])
    else:
      try:
        if not distr_run:
          matcher_distr = DistributionBased()
          matches_distr = valentine_match(df_confronto, df2, matcher_distr)
          distr_run = True
        # distribution based già instanziato
        # log del matcher su Distribution Based
        df_logmachers = creation_df_log_matcher(df_logmachers, matches_distr, i, 'distribution', name_dataset)
        # se nel Distribution Based c'è la stessa coppia di attributi 
        # che fa match con valore superiore a 0.5 allora fa match
        if matches_distr[i] > 0.5:
          attributi_mediato.append(i[0][1])
          attributi_dataset.append(i[1][1])
      except:
        pass
  # print(attributi_dataset)
  # print(attributi_mediato)

  # inserimento dei dati nel dataframe
  for i in df2.index:
    data = {}
    # print(i)
    for d,m in zip(attributi_dataset,attributi_mediato):
      # print(df2[d][i])
      data[m] = df2[d][i]
    temp_data=pd.DataFrame([data])
    df1=pd.concat([df1, temp_data], ignore_index=True)
    df_confronto=pd.concat([df_confronto, temp_data], ignore_index=True)

  pp = pprint.PrettyPrinter(indent=4)

  # stampa dei matchers
  pp.pprint(matches_coma)
  if distr_run:
    pp.pprint(matches_distr)

  return df1, df_logmachers, df_confronto
  # print(df1)

In [17]:
#funzione utilizzata per trasformare gli elementi del dataframe che sono una lista in stringa 
def list2string(x):
    result = ''
    if(isinstance(x, list)):
        for element in x:
            result = result + ', ' + str(element)
        return result[1:]
    else:
        return x

In [38]:
from pathlib import Path
import time
#formati json, csv, xls, xlsx, jsonl
df1 = pd.DataFrame(columns = ['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
# df_confronto = creation_dataset_confronto(df1)
df_confronto = pd.read_json('schema_mediato_auto.json')
df_logmachers = pd.DataFrame(columns = ['tab1' , 'attr1', 'tab2', 'attr2', 'prob', 'matcher'])

#numero di errori nell'esecuzione di file
num_error = 0

directory = 'datasets'
dataset_list_json = Path(directory).glob('*.json')
dataset_list_jsonl = Path(directory).glob('*.jsonl')
dataset_list_csv = Path(directory).glob('*.csv')
dataset_list_xls = Path(directory).glob('*.xls')
dataset_list_xlsx = Path(directory).glob('*.xlsx')
i = 0

# --------------------------------------------------------------------
# Modificare seleziona_tipo per scegliere che tipo di file eseguire
# --------------------------------------------------------------------
seleziona_tipo = 0

start_time = time.time()

# CON SELEZIONA_TIPO=0 SI RUNNANO I TUTTI TIPI DI FILE
# CON SELEZIONA_TIPO=1 SI RUNNANO I JSON
if seleziona_tipo==0 or seleziona_tipo==1:
  for path in dataset_list_json:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = pd.read_json(path)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2 = df2.applymap(list2string)
    name_dataset = str(path).split('\\')[1]
    try:
      df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset)
    except:
      print("ERRORE " + str(path))
      num_error = num_error + 1


# CON SELEZIONA_TIPO=2 SI RUNNANO I JSONL
if seleziona_tipo==0 or seleziona_tipo==2:
  for path in dataset_list_jsonl:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = pd.read_json(path, lines=True)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2 = df2.applymap(list2string)
    name_dataset = str(path).split('\\')[1]
    try:
      df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset)
    except Exception as e:
      print(e)
      print("ERRORE " + str(path))
      num_error = num_error + 1


# CON SELEZIONA_TIPO=3 SI RUNNANO I CSV
if seleziona_tipo==0 or seleziona_tipo==3:
  for path in dataset_list_csv:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = pd.read_csv(path, encoding='ISO-8859-1')
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2 = df2.applymap(list2string)
    name_dataset = str(path).split('\\')[1]
    try:
      df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset)
    except:
      print("ERRORE " + str(path))
      num_error = num_error + 1


# CON SELEZIONA_TIPO=4 SI RUNNANO I XLS
if seleziona_tipo==0 or seleziona_tipo==4:
  for path in dataset_list_xls:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = pd.read_excel(path)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2 = df2.applymap(list2string)
    name_dataset = str(path).split('\\')[1]
    try:
      df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset)
    except:
      print("ERRORE " + str(path))
      num_error = num_error + 1


# CON SELEZIONA_TIPO=5 SI RUNNANO I XLSX
if seleziona_tipo==0 or seleziona_tipo==5:
  for path in dataset_list_xlsx:
    print(str(i) + " " + str(path))
    i = i+1
    df2 = pd.read_excel(path)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2 = df2.applymap(list2string)
    name_dataset = str(path).split('\\')[1]
    try:
      df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset)
    except:
      print("ERRORE " + str(path))
      num_error = num_error + 1


end_time = time.time()
total_time = end_time - start_time

print("Numero errori: " + str(num_error))
display(df1)
print('--------DATAFRAME LOG MATCHERS--------')
display(df_logmachers)
print("Tempo Esecuzione: " + total_time)

0 datasets\cbinsights.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.78209436,
    (('table_1', 'founded'), ('table_2', 'datejoined')): 0.2843201,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.7845453,
    (('table_1', 'name'), ('table_2', 'valuation')): 0.22594458,
    (('table_1', 'sector'), ('table_2', 'selectinvestors')): 0.35263473}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9570572901040193,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.8676776244121108,
    (('table_1', 'stock'), ('table_2', 'selectinvestors')): 0.9394155946854038}
1 datasets\companiesmarketcap.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.8030505,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.2866888,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.6679597,
    (('table_1', 'name'), ('table_2', 'name')): 0.79359674,
    (('table_1', 'share_price'), ('table_2', 'sharePrice')): 0.68009496,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.2947809}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9096148193678708,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9020010011694316,
    (('table_1', 'name'), ('table_2', 'code')): 0.9646972119041194,
    (('table_1', 'name'), ('table_2', 'name')): 0.9928904676341335,
    (('table_1', 'stock'), ('table_2', 'code')): 0.8966420920665416,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9146749229985082}
2 datasets\disfold.com.json
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.82181096,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.8400296,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.8454124,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.8420032,
    (('table_1', 'name'), ('table_2', 'name')): 0.8259318,
    (('table_1', 'stock'), ('table_2', 'link')): 0.327116}
{(('table_1', 'name'), ('table_2', 'name')): 0.9978002612398877}
3 datasets\disfold.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.8494996,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8519505,
    (('table_1', 'market_cap'), ('table_2', 'marketCap')): 0.71440876,
    (('table_1', 'name'), ('table_2', 'name')): 0.84004575,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.8467422,
    (('table_1', 'stock'), ('table_2', 'stock')): 0.8436172}
4 datasets\forbes.com.json
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.83858424,
    (('table_1', 'country'), ('table_2', 'country')): 0.8521589,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.8568029,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8521589,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.85460985,
    (('table_1', 'name'), ('table_2', 'name')): 0.8427051,
    (('table_1', 'stock'), ('table_2', 'link')): 0.34388924}
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.997251707685936,
    (('table_1', 'country'), ('table_2', 'country')): 0.9651636466553737,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.9726417307699233,
    (('table_1', 'employees'), ('table_2', 'founded')): 0.9023198228714269,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9659200083778361,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.9157890531400827,
    (('table_1', 'name'), ('table_2', 'name')): 0.987548510295957,
    (('table_1', 'stock'), ('table_2', 'name')): 0.8813912493658901}
5 datasets\ft.com.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.8383324,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.8429764,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8383324,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.84078336,
    (('table_1', 'name'), ('table_2', 'name')): 0.8288786,
    (('table_1', 'stock'), ('table_2', 'link')): 0.33006278}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9593100876486931,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.9846724411474181,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9340819043258585,
    (('table_1', 'sector'), ('table_2', 'industry')): 0.9791272225673697}
6 datasets\gren-companiesmarketcap.com.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.79526305,
    (('table_1', 'market_cap'), ('table_2', 'market_capitalization_USD')): 0.48215458,
    (('table_1', 'name'), ('table_2', 'name')): 0.7858092,
    (('table_1', 'share_price'), ('table_2', 'price')): 0.49215844}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9659233539649335,
    (('table_1', 'employees'), ('table_2', 'price')): 0.878315150154405,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9346399127105383,
    (('table_1', 'name'), ('table_2', 'name')): 0.9935066690496693,
    (('table_1', 'stock'), ('table_2', 'name')): 0.8597990332793533}
7 datasets\gren-disfold.com.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.8439362,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.84638715,
    (('table_1', 'market_cap'), ('table_2', 'market_capitalization_USD')): 0.53082776,
    (('table_1', 'name'), ('table_2', 'name')): 0.8344824,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.84117883,
    (('table_1', 'stock'), ('table_2', 'stock')): 0.8380538}
8 datasets\gren-ft.com.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.81267536,
    (('table_1', 'employees'), ('table_2', 'employees_number_2017')): 0.5114989,
    (('table_1', 'employees'), ('table_2', 'employees_number_2020')): 0.5114989,
    (('table_1', 'founded'), ('table_2', 'founding_year')): 0.44012633,
    (('table_1', 'name'), ('table_2', 'name')): 0.8032216,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.80991805}
{   (('table_1', 'country'), ('table_2', 'country')): 0.8936800292261249,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.8584862284824073,
    (('table_1', 'industry'), ('table_2', 'sector')): 0.9216980649240593}
9 datasets\gren-value.today.json
{   (('table_1', 'area_served'), ('table_2', 'annual_revenue_USD')): 0.22320788,
    (('table_1', 'ceo'), ('table_2', 'CEO')): 0.78348094,
    (('table_1', 'employees'), ('table_2', 'employees_number')): 0.5570736,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.5879681,
    (('table_1', 'market_cap'), ('table_2', 'market_capitalization_2022')): 0.47510183,
    (('table_1', 'name'), ('table_2', 'name')): 0.78760177}
{   (('table_1', 'country'), ('table_2', 'CEO')): 0.9409955930333695,
    (('table_1', 'country'), ('table_2', 'facebook_page_url')): 0.7889074016548531,
    (('table_1', 'country'), ('table_2', 'headquarters_country')): 0.9602810904948527,
    (('table_1', 'country'), ('table_2', 'twitter_page_url')): 0.9621179901573607,
    (('table_1', 'headquarters'), ('table_2', 'CEO')): 0.844930436771257,
    (('table_1', 'headquarters'), ('table_2', 'facebook_page_url')): 0.8399294491484928,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.9786318799087455,
    (('table_1', 'headquarters'), ('table_2', 'twitter_page_url')): 0.8408789557527401,
    (('table_1', 'name'), ('table_2', 'name')): 0.9895766653716059}
10 datasets\igmm-disfold.com.json
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.8604878,
    (('table_1', 'country'), ('table_2', 'country')): 0.8740624,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.87870646,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8740624,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.88408923,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.87651336,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.7389716,
    (('table_1', 'name'), ('table_2', 'name')): 0.86460865,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.8713051,
    (('table_1', 'stock'), ('table_2', 'link')): 0.3657928,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.3657928}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9777198770130894,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.98247220634412,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9607161902578409,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.9746257573266226,
    (('table_1', 'name'), ('table_2', 'code')): 0.9436517917995446,
    (('table_1', 'name'), ('table_2', 'name')): 0.9948368079832307,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.9851368270917776,
    (('table_1', 'stock'), ('table_2', 'code')): 0.996065265173076,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9425999418760891}
11 datasets\marketCap2.json
{   (('table_1', 'country'), ('table_2', 'country')): 0.79034615,
    (('table_1', 'market_cap'), ('table_2', 'pricecap')): 0.345742,
    (('table_1', 'name'), ('table_2', 'name')): 0.7808923,
    (('table_1', 'share_price'), ('table_2', 'price')): 0.48724157}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9528847357117781,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9928449136192405,
    (('table_1', 'name'), ('table_2', 'codice')): 0.9544677461103076,
    (('table_1', 'name'), ('table_2', 'name')): 0.9913753687795982,
    (('table_1', 'stock'), ('table_2', 'codice')): 0.9529722576422213,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9163349159446059}
12 datasets\output_disfold.json
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.89835453,
    (('table_1', 'country'), ('table_2', 'country')): 0.91192925,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.91657317,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.91192925,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.92195594,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.9143802,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.9185468,
    (('table_1', 'name'), ('table_2', 'name')): 0.90247536,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.9091718,
    (('table_1', 'stock'), ('table_2', 'stock')): 0.90604687}
13 datasets\output_globaldata.json
{   (('table_1', 'address'), ('table_2', 'address')): 0.8517618,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.5833794,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.8617885,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.85421276,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.85837936,
    (('table_1', 'name'), ('table_2', 'name')): 0.8423079,
    (('table_1', 'website'), ('table_2', 'website')): 0.8517618}
14 datasets\output_govuk_bigsize.json
{   (('table_1', 'address'), ('table_2', 'registered_office_address')): 0.37174052,
    (('table_1', 'country'), ('table_2', 'company_type')): 0.22899619,
    (('table_1', 'name'), ('table_2', 'name')): 0.7487246}
{}
15 datasets\output_wiki.json
{   (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.5703789,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.83876127,
    (('table_1', 'founders'), ('table_2', 'founders')): 0.8412122,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.848788,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8412122,
    (('table_1', 'name'), ('table_2', 'name')): 0.82930744,
    (('table_1', 'sector'), ('table_2', 'services')): 0.35346717,
    (('table_1', 'website'), ('table_2', 'website')): 0.83876127}
{   (('table_1', 'founded'), ('table_2', 'founded')): 0.828646947780304,
    (('table_1', 'name'), ('table_2', 'name')): 0.9849741062436634,
    (('table_1', 'revenue'), ('table_2', 'key_people')): 1.0,
    (('table_1', 'revenue'), ('table_2', 'number_of_employees')): 0.8718827771852302,
    (('table_1', 'revenue'), ('table_2', 'services')): 0.905237322683972,
    (('table_1', 'revenue'), ('table_2', 'total_assets')): 0.905237322683972}
16 datasets\slytherin-value.today.json
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.8177058,
    (('table_1', 'country'), ('table_2', 'country')): 0.83128047,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.83128047,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8337314,
    (('table_1', 'name'), ('table_2', 'name')): 0.82182664,
    (('table_1', 'stock'), ('table_2', 'link')): 0.32301083,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.32301083}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9549020089614403,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.8851975123070083,
    (('table_1', 'name'), ('table_2', 'name')): 0.9771902578468825}
17 datasets\value.today.json
{   (('table_1', 'address'), ('table_2', 'company business')): 0.3098799,
    (('table_1', 'area_served'), ('table_2', 'annual revenue in USD')): 0.21698089,
    (('table_1', 'ceo'), ('table_2', 'ceo')): 0.78642535,
    (('table_1', 'employees'), ('table_2', 'number of employees')): 0.5420343,
    (('table_1', 'headquarters'), ('table_2', 'headquarters country')): 0.5909125,
    (('table_1', 'market_cap'), ('table_2', 'market value (Jan-07-2022)')): 0.34233195,
    (('table_1', 'name'), ('table_2', 'name')): 0.7905462,
    (('table_1', 'website'), ('table_2', 'company website')): 0.5300151}
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.9935881317254351,
    (('table_1', 'country'), ('table_2', 'headquarters country')): 0.9780835022663599,
    (('table_1', 'employees'), ('table_2', 'number of employees')): 0.978008548485766,
    (('table_1', 'employees'), ('table_2', 'world rank (Jan-07-2022)')): 0.9670686086880425,
    (('table_1', 'headquarters'), ('table_2', 'headquarters country')): 0.9317176852928111,
    (('table_1', 'name'), ('table_2', 'name')): 0.9954515365693837,
    (('table_1', 'stock'), ('table_2', 'name')): 0.8775899415146741}
18 datasets\valueToday2.json
{   (('table_1', 'ceo'), ('table_2', 'CEO')): 0.7977054,
    (('table_1', 'country'), ('table_2', 'country')): 0.8112801,
    (('table_1', 'market_cap'), ('table_2', 'marketCap')): 0.67618924,
    (('table_1', 'name'), ('table_2', 'name')): 0.80182624,
    (('table_1', 'stock'), ('table_2', 'world_rank')): 0.2580293}
{   (('table_1', 'ceo'), ('table_2', 'CEO')): 0.8835934893983475,
    (('table_1', 'country'), ('table_2', 'country')): 0.9565261526147921,
    (('table_1', 'employees'), ('table_2', 'marketCap')): 0.8992747752118375,
    (('table_1', 'employees'), ('table_2', 'marketValue')): 0.9170232041248366,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9664130240097832,
    (('table_1', 'market_cap'), ('table_2', 'marketCap')): 0.8319446671442061,
    (('table_1', 'market_cap'), ('table_2', 'marketValue')): 0.8913397042222838,
    (('table_1', 'name'), ('table_2', 'name')): 0.9740021217107245}
19 datasets\wiki.json
{   (('table_1', 'founded'), ('table_2', 'Founded')): 0.84708965,
    (('table_1', 'headquarters'), ('table_2', 'Headquarters')): 0.8571164,
    (('table_1', 'industry'), ('table_2', 'Industry')): 0.8495406,
    (('table_1', 'name'), ('table_2', 'Name')): 0.8376358,
    (('table_1', 'sector'), ('table_2', 'Sector')): 0.8443323}
20 datasets\companiesMarketCap_dataset.jsonl
{   (('table_1', 'country'), ('table_2', 'country')): 0.8116218,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.29526,
    (('table_1', 'founded'), ('table_2', 'id')): 0.30976236,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.81823933,
    (('table_1', 'name'), ('table_2', 'name')): 0.8021679,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.8200251,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.30335212}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9684471300891391,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9655559259165607,
    (('table_1', 'name'), ('table_2', 'name')): 0.9936697435029268}
21 datasets\disfold_dataset.jsonl
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.8317841,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.85000277,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8453588,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.6362713,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.8519764,
    (('table_1', 'name'), ('table_2', 'name')): 0.83590496}
22 datasets\hitHorizons_dataset.jsonl
{   (('table_1', 'address'), ('table_2', 'address')): 0.79520285,
    (('table_1', 'earnings'), ('table_2', 'sic_code')): 0.2726538,
    (('table_1', 'founded'), ('table_2', 'id')): 0.29334342,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.7976538,
    (('table_1', 'name'), ('table_2', 'name')): 0.78574896}
{}
23 datasets\valueToday_dataset.jsonl
{   (('table_1', 'address'), ('table_2', 'company_business')): 0.3225095,
    (('table_1', 'ceo'), ('table_2', 'ceo')): 0.7990549,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.5442472,
    (('table_1', 'founders'), ('table_2', 'founders')): 0.8150805,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.6035421,
    (('table_1', 'name'), ('table_2', 'name')): 0.80317575,
    (('table_1', 'stock'), ('table_2', 'world_rank')): 0.2593788,
    (('table_1', 'website'), ('table_2', 'company_website')): 0.5307399}
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.9077246018189737,
    (('table_1', 'country'), ('table_2', 'headquarters_country')): 0.9859476228613001,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.9613691112501417,
    (('table_1', 'name'), ('table_2', 'name')): 0.9921476402571296}
24 datasets\campaignindia.csv
{   (('table_1', 'country'), ('table_2', 'CATEGORY')): 0.31656814,
    (('table_1', 'market_cap'), ('table_2', 'MAIN MARKET')): 0.42541334,
    (('table_1', 'name'), ('table_2', 'BRAND NAME')): 0.42837462,
    (('table_1', 'stock'), ('table_2', 'RANK')): 0.24200042}
{   (('table_1', 'country'), ('table_2', 'MAIN MARKET')): 0.9293330321647632,
    (('table_1', 'headquarters'), ('table_2', 'MAIN MARKET')): 0.8921305607209308,
    (('table_1', 'name'), ('table_2', 'BRAND NAME')): 0.9747644844671638}
25 datasets\company_social_urls.csv
{   (('table_1', 'address'), ('table_2', 'Pinterest')): 0.17680182,
    (('table_1', 'country'), ('table_2', 'Company')): 0.31111553,
    (('table_1', 'industry'), ('table_2', 'Instagram')): 0.2166345,
    (('table_1', 'sector'), ('table_2', 'Twitter')): 0.19168594,
    (('table_1', 'stock'), ('table_2', 'Facebook')): 0.19168594}
{   (('table_1', 'name'), ('table_2', 'Company')): 0.991977255186588,
    (('table_1', 'stock'), ('table_2', 'Company')): 0.9332788924987826}
26 datasets\DDD-cbinsight.com.csv
{   (('table_1', 'country'), ('table_2', 'country')): 0.8175823,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8175823,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.82003325,
    (('table_1', 'name'), ('table_2', 'name')): 0.8081285,
    (('table_1', 'stock'), ('table_2', 'stage')): 0.37122375}
{   (('table_1', 'country'), ('table_2', 'city')): 0.890396516538781,
    (('table_1', 'country'), ('table_2', 'country')): 0.9749936101526583,
    (('table_1', 'headquarters'), ('table_2', 'city')): 0.9105745288665776,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.910135506823563}
27 datasets\DDD-companiesmarketcap.com.csv
{   (('table_1', 'country'), ('table_2', 'country')): 0.807593,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.29123122,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.67250216,
    (('table_1', 'name'), ('table_2', 'name')): 0.79813915,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.81599635,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.29932332}
{(('table_1', 'name'), ('table_2', 'name')): 0.9979095810469404}
28 datasets\DDD-ft.com.csv
{   (('table_1', 'country'), ('table_2', 'country')): 0.80083054,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2017')): 0.40677887,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2020')): 0.40677887,
    (('table_1', 'founded'), ('table_2', 'founding_year')): 0.4282815,
    (('table_1', 'name'), ('table_2', 'name')): 0.7913767,

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 32473: invalid continuation byte

In [40]:
#formati csv
df1.to_csv('output_alignment/schema_mediato.csv')
df_logmachers.to_csv('output_alignment/log_matchers.csv')
df_confronto.to_csv('output_alignment/schema_mediato_incrementale_confronto.csv')
#formati json
df1.to_json('output_alignment/schema_mediato.json')
df_logmachers.to_json('output_alignment/log_matchers.json')
df_confronto.to_json('output_alignment/schema_mediato_incrementale_confronto.json')

# Il codice sottostante è utilizzato per generare il dataframe di un singolo dataset

In [18]:
df1 = pd.DataFrame(columns = ['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
df_confronto = pd.read_json('schema_mediato_auto.json')
df_logmachers = pd.DataFrame(columns = ['tab1' , 'attr1', 'tab2', 'attr2', 'prob', 'matcher'])



df2 = pd.read_csv('datasets/DDD-cbinsight.com.csv', encoding='ISO-8859-1')
# df2 = pd.read_json('datasets/output_wiki.json')
# trasforma le celle del dataframe che hanno liste in stringhe
df2 = df2.applymap(list2string)
df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, 'companiesMarketCap_dataset.jsonl')

display(df1)
display(df_logmachers)
display(df_confronto)

{   (('table_1', 'country'), ('table_2', 'country')): 0.81663823,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.81663823,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8190892,
    (('table_1', 'name'), ('table_2', 'name')): 0.8071844,
    (('table_1', 'stock'), ('table_2', 'stage')): 0.37027967}
{   (('table_1', 'country'), ('table_2', 'city')): 0.9282149206585528,
    (('table_1', 'country'), ('table_2', 'country')): 0.9527752093616784,
    (('table_1', 'headquarters'), ('table_2', 'city')): 0.9105745288665776,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9224909701879977}

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,Lacework,Cybersecurity,NaN,NaN,United States,NaN,NaN,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,Tipalti,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
2,Tempus,Health,NaN,NaN,United States,NaN,NaN,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,Anduril,Artificial intelligence,NaN,NaN,United States,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
4,Bolt,Auto & transportation,NaN,NaN,Estonia,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,SpaceX,Other,NaN,NaN,United States,NaN,NaN,NaN,NaN,2002,NaN,NaN,NaN,NaN,NaN,NaN
1181,Fanatics,E-commerce & direct-to-consumer,NaN,NaN,United States,NaN,NaN,NaN,NaN,1995,NaN,NaN,NaN,NaN,NaN,NaN
1182,Instacart,"Supply chain, logistics, & delivery",NaN,NaN,United States,NaN,NaN,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
1183,Databricks,Data management & analytics,NaN,NaN,United States,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
1184,Stripe,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN

,tab1,attr1,tab2,attr2,prob,matcher
0,table_1,industry,companiesMarketCap_dataset.jsonl,industry,0.819089,Coma
1,table_1,country,companiesMarketCap_dataset.jsonl,country,0.816638,Coma
2,table_1,founded,companiesMarketCap_dataset.jsonl,founded,0.816638,Coma
3,table_1,name,companiesMarketCap_dataset.jsonl,name,0.807184,Coma
4,table_1,stock,companiesMarketCap_dataset.jsonl,stage,0.370280,Coma

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,"Avis Budget Group, Inc.",Rental & Leasing Services,$18.12 B,"16,000",United States,"Parsippany,NJ,UnitedStates",None,Industrials,Mr. Joseph A. Ferraro,2006,NaN,NaN,None,CAR,NaN,None
1,Telefônica Brasil SA,Telecom Services,$20.19 B,"34,000",Brazil,"SÃ£oPaulo,SP,Brazil",None,Communication Services,Mr. Christian Mauad Gebara,1998,NaN,NaN,None,VIV,NaN,None
2,East Japan Railway Company,Railroads,$22.78 B,"71,973",Japan,"Tokyo,Japan",None,Industrials,Mr. Yuji Fukasawa,,NaN,NaN,None,9020,NaN,None
3,Twilio Inc.,Internet Content & Information,$26.09 B,"7,867",United States,"SanFrancisco,CA,UnitedStates",None,Communication Services,Mr. Jeffrey Lawson,2008,NaN,NaN,None,TWLO,NaN,None
4,"Delta Electronics, Inc.",Electronic Components,$24.05 B,,Taiwan,"Taipei,Taiwan",None,Technology,Mr. Ping Cheng,,NaN,NaN,None,2308,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3180,SpaceX,Other,NaN,NaN,United States,NaN,NaN,NaN,NaN,2002,NaN,NaN,NaN,NaN,NaN,NaN
3181,Fanatics,E-commerce & direct-to-consumer,NaN,NaN,United States,NaN,NaN,NaN,NaN,1995,NaN,NaN,NaN,NaN,NaN,NaN
3182,Instacart,"Supply chain, logistics, & delivery",NaN,NaN,United States,NaN,NaN,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
3183,Databricks,Data management & analytics,NaN,NaN,United States,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
3184,Stripe,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
original_columns=["name", "industry", "market_cap", "employees", "country", "headquarters", "address", "sector", "ceo", "founded", "founders", "share_price", "website", "stock", "area_served", "revenue"]
schema_mediato = pd.DataFrame(columns=original_columns)

df_gd = pd.read_json('datasets/output_globaldata.json')
df_gd.rename(columns={"number_of_employees":"employees"}, inplace=True)

df_disfold = pd.read_json('datasets/output_disfold.json')

df_vt = pd.read_json('datasets/gren-value.today.json')
df_vt.rename(columns={"annual_revenue_USD":"revenue", "annual_net_income_USD":"earnings", "employees_number":"employees", "headquarters_country": "headquarters", "market_capitalization_2022": "market_cap", "CEO":"ceo"}, inplace=True)

df_vt2 = pd.read_json('datasets/valueToday2.json')
df_vt2.rename(columns={"marketCap":"market_cap", "country": "country", "CEO":"ceo"}, inplace=True)

schema_mediato = schema_mediato.append(df_disfold[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_vt[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_vt2[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_gd[:500], ignore_index=True)

schema_mediato[original_columns].to_json('schema_mediato_auto.json', orient='records')

C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_disfold[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_vt[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_vt2[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_gd[:500], ignore_index=True)